{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'nova_imagem' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {% for campo in form.visible_fields %}
                            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                                <label for="{{ campo.if_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">
                                    {{ campo.label }}
                                </label>
                                    {{ campo }}
                            </div>
                            {% for error in campo.errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error }}</p>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Cadastrar Nova Imagem</button>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}